# Database Configuration
DATABASE_URL="file:./dev.db"

# NextAuth Configuration
# You can generate a secret using: openssl rand -base64 32
NEXTAUTH_SECRET="your-nextauth-secret-key"
NEXTAUTH_URL="http://localhost:3000"
